### 가상환경 activate 후 lightgbm 설치
#### conda install -c conda-forge lightgbm

In [25]:
import warnings
warnings.filterwarnings('ignore')
import glob
import pandas as pd
import numpy as np
from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import OneHotEncoder
import random

#### DATA LOAD

In [27]:
train = pd.read_csv('./train.csv')
train = train.drop(['index'], axis=1)
train.fillna('NAN', inplace=True) 

test = pd.read_csv('./test.csv')
test = test.drop(['index'], axis=1)
test.fillna('NAN', inplace=True)

submit = pd.read_csv('./sample_submission.csv')

In [28]:
train.info()
# 범주형 데이터를 가지는 변수 확인(dtype object)
# gender(2), car(2), reality(2), income_type(5), edu_type(5), family_type(5), house_type(6), occyp_type(18)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   gender         26457 non-null  object
 1   car            26457 non-null  object
 2   reality        26457 non-null  object
 3   child_num      26457 non-null  int64
 4   income_total   26457 non-null  float64
 5   income_type    26457 non-null  object
 6   edu_type       26457 non-null  object
 7   family_type    26457 non-null  object
 8   house_type     26457 non-null  object
 9   DAYS_BIRTH     26457 non-null  int64
 10  DAYS_EMPLOYED  26457 non-null  int64
 11  FLAG_MOBIL     26457 non-null  int64
 12  work_phone     26457 non-null  int64
 13  phone          26457 non-null  int64
 14  email          26457 non-null  int64
 15  occyp_type     26457 non-null  object
 16  family_size    26457 non-null  float64
 17  begin_month    26457 non-null  float64
 18  credit         26457 non-null  float64
dtypes: float64(4), int64(7), object(8)
memory usage: 3.8+ MB

In [29]:
# object 객체를 가지는 변수(열) 확인
object_col = []
for col in train.columns:
    if train[col].dtype == 'object':
        object_col.append(col)
display(object_col)

['gender',
 'car',
 'reality',
 'income_type',
 'edu_type',
 'family_type',
 'house_type',
 'occyp_type']

In [30]:
# occyp_type의 경우 unique가 18인데, onehot encoding 하는게 맞을까? 이 경우엔 label encoding하는게 좋을듯
# 우선 가이드코드에는 모든 object객체 열을 onehot encoding 하였음
# train 데이터 onehot encoding

enc = OneHotEncoder()
enc.fit(train.loc[:,object_col])


train_onehot_df = pd.DataFrame(enc.transform(train.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
train.drop(object_col, axis=1, inplace=True)
train = pd.concat([train, train_onehot_df], axis=1)

In [31]:
display(train)

,child_num,income_total,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,family_size,begin_month,...,occyp_type_Low-skill Laborers,occyp_type_Managers,occyp_type_Medicine staff,occyp_type_NAN,occyp_type_Private service staff,occyp_type_Realty agents,occyp_type_Sales staff,occyp_type_Secretaries,occyp_type_Security staff,occyp_type_Waiters/barmen staff
0,0,202500.0,-13899,-4709,1,0,0,0,2.0,-6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,247500.0,-11380,-1540,1,0,0,1,3.0,-5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,450000.0,-19087,-4434,1,0,1,0,2.0,-22.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,202500.0,-15088,-2092,1,0,1,0,2.0,-37.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0,157500.0,-15037,-2105,1,0,0,0,2.0,-26.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26452,2,225000.0,-12079,-1984,1,0,0,0,4.0,-2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26453,1,180000.0,-15291,-2475,1,0,0,0,2.0,-47.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
26454,0,292500.0,-10082,-2015,1,0,0,0,2.0,-25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26455,0,171000.0,-10145,-107,1,0,0,0,1.0,-59.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26456,0,81000.0,-19569,-1013,1,0,0,0,2.0,-9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [32]:
# test 데이터 onehot encoding

test_onehot_df = pd.DataFrame(enc.transform(test.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
test.drop(object_col, axis=1, inplace=True)
test = pd.concat([test, test_onehot_df], axis=1)

In [34]:
display(test)
display(test.columns)

,child_num,income_total,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,family_size,begin_month,...,occyp_type_Low-skill Laborers,occyp_type_Managers,occyp_type_Medicine staff,occyp_type_NAN,occyp_type_Private service staff,occyp_type_Realty agents,occyp_type_Sales staff,occyp_type_Secretaries,occyp_type_Security staff,occyp_type_Waiters/barmen staff
0,0,112500.0,-21990,365243,1,0,1,0,2.0,-60.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,135000.0,-18964,-8671,1,0,1,0,2.0,-36.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,69372.0,-15887,-217,1,1,1,0,2.0,-40.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,112500.0,-19270,-2531,1,1,0,0,2.0,-41.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,225000.0,-17822,-9385,1,1,0,0,2.0,-8.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,202500.0,-18593,-5434,1,1,1,0,2.0,-19.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,0,202500.0,-10886,-1315,1,1,0,0,2.0,-34.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,0,292500.0,-21016,-14018,1,0,0,0,2.0,-55.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0,180000.0,-16541,-1085,1,0,1,0,2.0,-33.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0,270000.0,-9154,-187,1,0,0,1,2.0,-11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Index(['child_num', 'income_total', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'FLAG_MOBIL', 'work_phone', 'phone', 'email', 'family_size',
       'begin_month', 'gender_F', 'gender_M', 'car_N', 'car_Y', 'reality_N',
       'reality_Y', 'income_type_Commercial associate',
       'income_type_Pensioner', 'income_type_State servant',
       'income_type_Student', 'income_type_Working',
       'edu_type_Academic degree', 'edu_type_Higher education',
       'edu_type_Incomplete higher', 'edu_type_Lower secondary',
       'edu_type_Secondary / secondary special', 'family_type_Civil marriage',
       'family_type_Married', 'family_type_Separated',
       'family_type_Single / not married', 'family_type_Widow',
       'house_type_Co-op apartment', 'house_type_House / apartment',
       'house_type_Municipal apartment', 'house_type_Office apartment',
       'house_type_Rented apartment', 'house_type_With parents',
       'occyp_type_Accountants', 'occyp_type_Cleaning staff',
       'occyp_type_Cooking staff', 'occyp_type_Core staff',
       'occyp_type_Drivers', 'occyp_type_HR staff',
       'occyp_type_High skill tech staff', 'occyp_type_IT staff',
       'occyp_type_Laborers', 'occyp_type_Low-skill Laborers',
       'occyp_type_Managers', 'occyp_type_Medicine staff', 'occyp_type_NAN',
       'occyp_type_Private service staff', 'occyp_type_Realty agents',
       'occyp_type_Sales staff', 'occyp_type_Secretaries',
       'occyp_type_Security staff', 'occyp_type_Waiters/barmen staff'],
      dtype='object')

In [10]:
# StratifiedKFold - 불균형한 분포도를 가진 레이블 데이터를 위한 방식, 특정 레이블 값이 너무 많거나 적은 경우
# 5-fold

skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=21)
folds=[]
for train_idx, valid_idx in skf.split(train, train['credit']):
    folds.append((train_idx, valid_idx))

In [11]:
# 30번 이상 개선 없을 시 중단
# 5개의 fold를 훈련하여 저장
random.seed(21)
lgb_models={}
for fold in range(5):
    print(f'===================================={fold+1}============================================')
    train_idx, valid_idx = folds[fold]
    X_train, X_valid, y_train, y_valid = train.drop(['credit'],axis=1).iloc[train_idx].values, train.drop(['credit'],axis=1).iloc[valid_idx].values,\
                                         train['credit'][train_idx].values, train['credit'][valid_idx].values 
    lgb = LGBMClassifier(n_estimators=1000)
    lgb.fit(X_train, y_train, 
            eval_set=[(X_train, y_train), (X_valid, y_valid)], 
            early_stopping_rounds=30,
           verbose=100)
    lgb_models[fold]=lgb
    print(f'================================================================================\n\n')

====================================1============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.650665	valid_1's multi_logloss: 0.751964
[200]	training's multi_logloss: 0.565744	valid_1's multi_logloss: 0.73827
[300]	training's multi_logloss: 0.502459	valid_1's multi_logloss: 0.734269
Early stopping, best iteration is:
[328]	training's multi_logloss: 0.487117	valid_1's multi_logloss: 0.732947
================================================================================


====================================2============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.65038	valid_1's multi_logloss: 0.748533
[200]	training's multi_logloss: 0.56482	valid_1's multi_logloss: 0.733479
[300]	training's multi_logloss: 0.502221	valid_1's multi_logloss: 0.729705
Early stopping, best iteration is:
[316]	training's multi_logloss: 0.493025	valid_1's multi_logloss: 0.729099
================================================================================


====================================3============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.64936	valid_1's multi_logloss: 0.757508
[200]	training's multi_logloss: 0.562847	valid_1's multi_logloss: 0.74257
[300]	training's multi_logloss: 0.499756	valid_1's multi_logloss: 0.737704
Early stopping, best iteration is:
[363]	training's multi_logloss: 0.465891	valid_1's multi_logloss: 0.73558
================================================================================


====================================4============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.648306	valid_1's multi_logloss: 0.755166
[200]	training's multi_logloss: 0.562735	valid_1's multi_logloss: 0.737361
[300]	training's multi_logloss: 0.498543	valid_1's multi_logloss: 0.734344
Early stopping, best iteration is:
[315]	training's multi_logloss: 0.49017	valid_1's multi_logloss: 0.733679
================================================================================


====================================5============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.64934	valid_1's multi_logloss: 0.761788
[200]	training's multi_logloss: 0.562151	valid_1's multi_logloss: 0.74755
Early stopping, best iteration is:
[263]	training's multi_logloss: 0.519047	valid_1's multi_logloss: 0.744718
================================================================================

In [12]:
submit.iloc[:,1:]=0
for fold in range(5):
    submit.iloc[:,1:] += lgb_models[fold].predict_proba(test)/5

In [13]:
submit.to_csv('./0425_summit.csv', index=False)

In [14]:
submit.head(20)

    index         0         1         2
0   26457  0.059119  0.112243  0.828638
1   26458  0.188379  0.164362  0.647259
2   26459  0.032208  0.103911  0.863880
3   26460  0.128387  0.115778  0.755834
4   26461  0.089447  0.196976  0.713578
5   26462  0.074624  0.146927  0.778449
6   26463  0.481209  0.518447  0.000343
7   26464  0.117942  0.135073  0.746985
8   26465  0.062930  0.120300  0.816771
9   26466  0.051340  0.305288  0.643372
10  26467  0.081382  0.190410  0.728209
11  26468  0.077248  0.165557  0.757195
12  26469  0.306643  0.159911  0.533446
13  26470  0.062992  0.178749  0.758259
14  26471  0.114121  0.210408  0.675471
15  26472  0.115434  0.231981  0.652584
16  26473  0.072011  0.137137  0.790852
17  26474  0.340194  0.659662  0.000144
18  26475  0.270509  0.268042  0.461450
19  26476  0.032301  0.138434  0.829265